<div
  class="max-w-4xl m-auto justify-center flex flex-col items-center h-screen w-screen"
>
  <h1 class="text-4xl mb-4">Tailwind + Handlebars on Fastify</h1>
  <p class="text-xl text-gray-500 font-regular">This is a tailwindcss and
    handlebars basic project running on Fastify servers.</p>
</div>